<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>电影网站后台</title>
        <link rel="shortcut icon" href=./favicon.ico> <link href=./static/css/app.030704b58d467fd975e169765fe4a188.css
            rel=stylesheet>
    </head>
    <body>
        <div id=app>
        </div>
        <script type=text/javascript src=./static/js/manifest.5eea8e4a0299526d3056.js> </script> 
        <script type=text/javascript src=./static/js/vendor.a0c220cb06613ed4050c.js> </script> 
        <script type=text/javascript src=./static/js/app.70fc1784668b352aca2f.js> </script>
    </body> 
</html>